<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Game_Box.Properties.Settings.indice_de_juegos_de_pspConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\indice de juegos de psp.accdb&quot;" providerName="System.Data.OleDb"/>
        <add name="Game_Box.Properties.Settings.ConnectionString" connectionString="Dsn=Excel Files" providerName="System.Data.Odbc"/>
        <add name="Game_Box.Properties.Settings.Database1ConnectionString" connectionString="Data Source=|DataDirectory|\Database1.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="Game_Box.Properties.Settings.Database1ConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
        <add name="Game_Box.Properties.Settings.MediaContentConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\MediaContent.accdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
